.modal {
    min-width: 800px;

    .modal-title {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    .avatar-image {
        width: 400px;
        height: 500px;
        border-radius: 5px;
        border: 2px #e9ecef solid;
        object-fit: cover;
    }
}
