.teacher-team {
    width: 100%;

    .teacher-team-header {
        height: 120px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        background: rgb(34, 193, 195);
        background: linear-gradient(
            135deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(253, 187, 45, 1) 100%
        );

        .teacher-team-title {
            font-size: 3rem;
            color: white;
            font-weight: 700;
        }

        .teacher-user {
            display: flex;
            column-gap: 10px;
            color: white;

            .avatar-image {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 1px solid white;
                cursor: pointer;
            }

            .user-name {
                padding-top: 1px;
                font-size: 1.6rem;
                cursor: pointer;
            }
        }
    }

    .teacher-team-content {
        min-height: 542px;
        background-color: #f8f9fe;
        padding-left: 24px;
        padding-top: 20px;

        .teacher-team-container {
            background-color: white;
            border-radius: 5px;
            padding: 15px;

            .teacher-team-container-header {
                display: flex;
                justify-content: space-between;
                padding-right: 20px;
                padding-bottom: 15px;

                .teacher-team-name {
                    font-size: 1.8rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                .notification-wrap {
                    position: relative;

                    .button-show-notification {
                        font-size: 1.6rem;
                    }

                    .notification {
                        width: 30px;
                        height: 20px;
                        border-radius: 6px;
                        font-size: 1.2rem;
                        background-color: red;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -10px;
                        right: -15px;
                    }
                }
            }
        }
    }
}
