.change-password {
    position: relative;
    width: 100%;

    .change-password-header {
        height: 120px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        background: rgb(34, 193, 195);
        background: linear-gradient(
            135deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(253, 187, 45, 1) 100%
        );

        .change-password-title {
            font-size: 3rem;
            color: white;
            font-weight: 700;
        }

        .student-user {
            display: flex;
            column-gap: 10px;
            color: white;

            .avatar-image {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 1px solid white;
                cursor: pointer;
            }

            .user-name {
                padding-top: 1px;
                font-size: 1.6rem;
                cursor: pointer;
            }
        }
    }

    .change-password-content {
        min-height: 542px;
        background-color: #f8f9fe;
        padding-left: 24px;
        padding-top: 50px;
        display: flex;
        justify-content: center;

        .change-password-form {
            padding: 20px 20px 20px;
            max-height: 350px;
            min-width: 500px;
            border: 1px solid #172b4c;
            border-radius: 6px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .change-password-form-input {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                .password-icon {
                    height: 15px;
                    width: 15px;
                }

                .change-pass-content-input {
                    font-size: 1.5rem;
                }

                .error-message {
                    color: red;
                }
            }

            .button-update {
                font-size: 1.5rem;
            }
        }
    }
}
