.manage-layout {
    width: 100%;
    max-height: 765px;

    .manage {
        background-color: #f2f1eb;
        position: absolute;
        left: 300px;
        width: calc(80% + 5px);
        min-height: 765px;
    }
}
