.edit-conduct-teacher {
    padding: 20px;

    .form-label,
    .form-control {
        font-size: 1.6rem;
    }

    .error-message {
        color: red;
    }

    .button-submit {
        font-size: 1.5rem;
    }
}
