.modal {
    min-width: 600px;

    .title {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .input {
        font-size: 1.6rem;
    }

    .button {
        font-size: 1.6rem;
    }
}
