.manage-list-student {
    width: 100%;

    .manage-list-student-content {
        .table-head {
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
        }

        .subject {
            width: 200px;
        }

        .table-document {
            font-size: 1.4rem;
            text-align: center;
        }

        .column-divide {
            display: flex;
            justify-content: space-around;
        }
    }
}
