.list-class {
    margin-top: 20px;
    width: 100%;

    .button-export {
        font-size: 1.6rem;
        width: 100px;
        height: 30px;
        margin: 5px 0;
    }

    .table-head {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .table-document {
        font-size: 1.4rem;
    }

    .list-button {
        display: flex;
        column-gap: 10px;

        .button {
            font-size: 1.4rem;
        }

        .button-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffc107;
            color: white;
            font-size: 1.4rem;
            border-radius: 5px;
            width: 140px;
        }
    }
}

.modal {
    .modal-title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .modal-content {
        font-size: 1.6rem;
    }

    .button-confirm,
    .button-back {
        font-size: 1.6rem;
    }
}
